<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Speaker Records</title>
    {%load static%}
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Speaker ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Topic</th>
            </tr>
        </thead>

        <tbody>
            {%for speaker in speakers%}
            <tr>
                <td>{{speaker.sid}}</td>
                <td>{{speaker.fname}}</td>
                <td>{{speaker.lname}}</td>
                <td>{{speaker.topic}}</td>
                <td>
                    <a href="/edit/{{speaker.id}}">Edit</a>
                    <a href="/delete/{{speaker.id}}">Delete</a>
                </td>
            </tr>
                {%endfor%}
        </tbody>
    </table>
    <br><br>
    <button><a style="color: green;" href="/speak">Create New Speaker</a></button>
</body>
</html>